{% assign blogs = site.blog | sort: 'date' | reverse  %}
<div class="grid__wrapper">
  <h3 class="archive__subtitle">Posts</h3>
  {% for post in blogs %}
    {% if post.categories contains page.taxonomy %}
        {% include archive-single.html type="list" %}
        {% assign empty = false  %}
    {% endif %}
  {% endfor %}
</div>

 
<div class="grid__wrapper">
  <h3 class="archive__subtitle">Other Categories</h3>
  <a class= "category-button c" href="/categories/datavis">Data Visualizations</a>
  <a class= "category-button d" href="/categories/ml">Machine Learning</a>
  <a class= "category-button f" href="/categories/stats">Statistics</a>
  <a class= "category-button g" href="/categories/cv">Computer Vision</a>
  <a class= "category-button h" href="/categories/ai">Artificial Intelligence</a>
  <a class= "category-button b" href="/categories/ar">Augmented Reality</a>
  <a class= "category-button a" href="/categories/opinions">Opinions</a>
  <a class= "category-button d" href="/categories/other">Other</a>
</div>